<!-- <aside>
  <div class="container-fluid p-0 pt-8 ">
    <img src="../assets/images/logo-ANSWER.svg" alt="" class="logo ms-8">
    <ul class="sidebar-list mt-8">
      <li class="sidebar-list__items ms-8 mb-6 fw-bold active">
        <a href="#" class="d-inline-block w-100">
          <i class="fa-solid fa-chart-line me-4"></i>
          Dashboard
        </a>
      </li>
      <li class="sidebar-list__items ms-8 mb-6 fw-bold">
        <a href="#" class="d-inline-block w-100">
          <i class="fa-solid fa-message me-4"></i>
          Question
        </a>
      </li>
      <li class="sidebar-list__items ms-8 mb-6 fw-bold">
        <a href="#" class="d-inline-block w-100">
          <i class="fa-solid fa-file-lines me-4"></i>
          Assignment
        </a>
      </li>
      <li class="sidebar-list__items ms-8 mb-6 fw-bold">
        <a href="#" class="d-inline-block w-100">
          <i class="fa-solid fa-laptop-file me-4"></i>
          Course
        </a>
      </li>
      <li class="sidebar-list__items ms-8 mb-6 fw-bold">
        <a href="#" class="d-inline-block w-100">
          <i class="fa-solid fa-users me-4"></i>
          Admin
        </a>
      </li>
      <li class="sidebar-list__items ms-8 mb-6 fw-bold">
        <a href="#" class="d-inline-block w-100">
          <i class="fa-solid fa-gear me-4"></i>
          Settings
        </a>
      </li>
    </ul>
  </div>
</aside> -->

