// 採用bootstrap5 cdn
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto+Mono:wght@400;700&display=swap');
body{
  font-family: 'Lato','Roboto Mono', sans-serif;
}
a{
  text-decoration: none
}
*{
  // outline: 1px solid red;
}
// img[alt=""]{
//   outline: 10px solid red;
// }



@import './utils/my-variables';
@import './utils/layout';



@import './pages/index';
