.custom-container{
  width: 984px;
}
aside{
  width: 300px;
  min-height: 100vh;
  a.nav-link{
    &.active{
      position: relative;
      color:$success;
    }
    transition: color .3s ease-in-out;
    color:$dark;
    &:hover{
      color:$success;
    }
  }
  .nav-link.active::before{
    content: "";
    position: absolute;
    height: 32px;
    width: 4px;
    background-color: $success;
    left: -32px;
  }
}

.material-icons{
  vertical-align: top;
}
.icon{
  a{
    transition: color .3s ease-in-out;
    color:$dark;
    &:hover{
      color:$success;
    }
  }
}
.dropdown a{
  .iconLess{
    display: none;
  }
}
.dropdown a.show{
  .iconLess{
    display: block;
  }
  .iconMore{
    display: none;
  }
}
.info{
  .list-group-item.active{
    background-color: $light;
    color:$dark;
  }
}


a[download]:hover{
  color: $success;
}
.ck-editor{
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  top: -500px;
}